<h1>New Game</h1>
<p>Find me in app/views/games/new.html.erb</p>
<%= @letters %>

<p>Whatn is longest word you can find</p>
<p>____________________</p>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word">
  <input type="submit" value="Play!">
</form>
